# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
spaces_around_operators = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single

[*.{html,less,css,json}]            # 对所有 html, less, css, json 文件生效
quote_type = double                 # 字符串使用双引号

[*.md]
max_line_length = off
trim_trailing_whitespace = false
