:host {
  position: relative;
  min-width: 155px;
  height: 29px;
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid rgba(43, 117, 217, 0.88);
  box-shadow: inset 0px 0px 22px 0px rgba(43, 117, 217, 0.58);
  // opacity: 0.58;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;

  &.is-supervisor {
    min-width: 145px;
    height: 26px;
  }

  &:hover {
    box-shadow: inset 0px 0px 22px 0px rgba(43, 117, 217, 0.72);
  }
}
.select-icon {
  padding-right: 8px;
  &.isSupervisor {
    padding-right: 12px;
  }
}

.main-font {
  font-weight: 400;
  font-size: 16px;
  color: transparent;
  line-height: 31px;
  text-shadow: 0px 2px 8px rgba(5, 28, 55, 0.42);
  background: linear-gradient(
    180deg,
    rgba(49, 190, 255, 1) 0%,
    rgba(20, 158, 255, 1) 0%,
    rgba(239, 252, 254, 1) 58.7646484375%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &.isSupervisor {
    font-size: 1rem;
    color: transparent;
    line-height: 2;
  }
}

.drop-down-box {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border: 1px solid rgba(43, 117, 217, 0.88);
  box-shadow: inset 0px 0px 22px 0px rgba(43, 117, 217, 0.58);
  border-radius: 2px;
  color: #c7dbf5;
  padding: 8px 0;
  font-size: 1rem;
  backdrop-filter: blur(4px);

  .drop-down-item {
    padding: 0 18px 0 36px;
    line-height: 1.8;
    cursor: pointer;

    &.isSupervisor {
      line-height: 2rem;
    }

    &.selected {
      color: rgba(44, 183, 255, 1);
    }
    &:hover {
      background-color: rgba(43, 117, 217, 0.28);
    }
  }

  &.dropUp {
    top: unset;
    bottom: 100%;
  }
}
