.typhoon-detail-modal {
  position: fixed;
  z-index: 803;
  width: 450px;
  right: 500px;
  top: 110px;
  color: #afbed8;
  .header {
    background-image: url(/assets/images/map/modal/typhoon-detail-header.png);
    height: 36px;
    // z-index: 801;
  }
  .title {
    font-size: 20px;
    padding: 0 12px;
  }
  .detail-table {
    width: 100%;
    thead {
      display: table;
      width: 100%;
      table-layout: fixed; /* 重要  表格固定算法 */
      text-align: left;
      font-size: 18px;
      font-weight: normal;
      font-style: italic;
      font-family:
        -apple-system,
        Microsoft YaHe,
        "微软雅黑",
        "黑体",
        HeiTi;
      background-image: url(/assets/images/map/modal/typhoon-detail-header.png);
      background-color: rgba(155, 155, 155, 0.3);
      background-position: bottom;
      height: 40px;
      th {
        &:first-child {
          padding-left: 12px;
        }
      }
    }
    tbody {
      display: block;
      background-color: transparent;
      max-height: 280px;
      overflow-y: overlay;
    }
    .row {
      height: 38px;
      display: table;
      width: 100%;
      table-layout: fixed;
      margin-bottom: 5px;

      line-height: 38px;
      // border-top: 5px solid transparent;
      background-color: #24396e;
      cursor: pointer;
      &:nth-child(even) {
        background-color: #3264b0;
      }
      td {
        &:first-child {
          padding-left: 12px;
        }
      }
      &.active {
        color: #34dcfc;
      }
    }
  }
}

.title-font {
  font-style: italic;
}

.label-font {
  font-family: "FangZhengZhongyi";
  font-weight: 400;
  font-size: 20px;
  color: #34dcfc;
}

.extra-info {
  background: #24396e;
  padding: 8px 16px;
  font-size: 16px;
  color: #bfcfeb;
  .info-item {
    border-bottom: 2px solid rgba(97, 135, 228, 0.51);
    padding: 12px 0;
    display: flex;
    &:nth-last-child(1) {
      border-bottom: none;
    }
  }
  .icon {
    width: 50px;
    text-align: center;
  }
  .label {
    padding-top: 2px;
  }
}
