// :host {
//   background-color: #020b23;
// }
.right-screen {
  width: 100%;
  height: 100%;
  background: url("/assets/images/cocc/right-screen-bg.png") no-repeat;
  background-position: top center;
  background-size: cover;

  padding: 24px 48px 24px 64px;
  display: flex;
}
