:host {
  display: block;
  width: 100%;
}
.line-list {
  padding: 60px 144px;
  row-gap: 5rem /* 80px */;
  &.isCocc {
    padding: 24px 144px;
    row-gap: 5rem /* 80px */;
  }
  &.isSupervisor {
    padding: 24px 24px !important;
    row-gap: 4rem /* 80px */;
  }
}
