<dispatch-module-header title="抢修队" />
<div #container class="pl-8 pt-2">
  <div class="overview-container">
    <div class="mr-12">
      <span>待命中：</span>
      <span class="value-font">89</span>
    </div>
    <div>
      <span>抢修中：</span>
      <span class="value-font" style="color: #d3ba08">23</span>
    </div>
  </div>
  <div
    #flow
    class="mt-4 overflow-hidden text-nowrap whitespace-nowrap"
    [style.width.px]="width()"
    (mousewheel)="onMouseWheel($event)"
  >
    @for (page of pagedTeams(); track $index) {
      <div class="inline-block" style="width: 100%">
        <div class="grid grid-cols-6">
          @for (t of page; track t.id) {
            <div class="team-item pt-2">
              <div>
                <img [src]="getImageUrl(t.status)" alt="" srcset="" />
              </div>
              <div class="team-item-title">
                {{ t.name }}
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
  <div class="flex items-center justify-center">
    @for (page of pagedTeams(); track $index) {
      <div
        class="dot"
        (click)="goToPage($index)"
        [class.active]="$index === activePageIndex()"
      ></div>
    }
  </div>
</div>
