<nz-spin [nzSpinning]="loading">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-control nzErrorTip="请输入原始密码!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="oldPassword"
            placeholder="输入原始密码"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="密码8~16位, 需要包含数字和大小写字母!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="输入新密码"
            (ngModelChange)="updateConfirmValidator()"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="确认密码不正确">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password2"
            placeholder="确认新密码"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <div *nzModalFooter="">
      <button nz-button [nzType]="'primary'" (click)="handleChange()">
        修改
      </button>
      <button nz-button (click)="handleCancel()">取消</button>
    </div>
  </form>
</nz-spin>
