<dispatch-module-header title="全网关闭站点实时数据" />

<div class="flex pl-8">
  <div
    #scrollContainer
    class="overflow-y-auto custom-scroll-bar pr-2"
    style="max-height: 300px"
  >
    @for (line of separatedLineCloseData; track line.name) {
      <div class="flex items-center py-2">
        <ng-container
          *ngTemplateOutlet="lineLabel; context: { name: line.name }"
        ></ng-container>
        <div class="inline-flex item-center">
          <div class="left-decoration"></div>
          <ds-scale-line [value]="100 - line.closePercent" />
          <div class="right-decoration"></div>
        </div>
        <div class="close-detail-box justify-between">
          <span>
            <span>站点关闭：</span>
            <span style="color: #f35800">{{ line.closed }}</span>
          </span>
          <span>
            <span>占比：</span>
            <span style="color: #f35800">{{ line.closePercent }}%</span>
          </span>
        </div>
      </div>
    }
  </div>
  <div class="flex-1 flex justify-end">
    <!-- <div class="base-bg" style="width: 280px; height: 240px"> -->
    <div class="base-bg" style="width: 230px; height: 300px">
      <div #chart class="w-full h-full"></div>
    </div>
    <!-- </div> -->
  </div>
</div>

<ng-template #lineLabel let-name="name">
  <div class="inline-flex mr-4">
    <div class="color-rect"></div>
    <div class="line-label-main">
      {{ name }}
    </div>
  </div>
</ng-template>
