.statistical-table-modal {
  position: fixed;
  z-index: 998;
  background-size: auto 100%;
  right: 500px;
  top: 160px;
  // transform: translate(-50%, 0);
  overflow: hidden;
  // border-left: 3px solid #206e91;
  // border-right: 3px solid #206e91;
}
.statistical-box {
  width: calc(770px + 96px);
  // min-height: 300px;
  background-color: rgba(116, 173, 36, 0.2);
}

.modal-header {
  background: url(/assets/images/map/dock/statistical-table-modal/header.png)
    no-repeat;
  height: 53px;
  background-size: 100% 100%;
  color: #bbcde6;
  font-size: 18px;
  line-height: 53px;
  padding-left: 28px;
  display: flex;
  justify-content: space-between;
}
.modal-body {
  // height: calc(100vh - 280px);
  height: 50vh;
  background: url(/assets/images/map/dock/statistical-table-modal/body.png)
    no-repeat;
  background-size: 100% 100%;
}
.modal-footer {
  background: url(/assets/images/map/dock/statistical-table-modal/footer.png)
    no-repeat;
  height: 26px;
  background-size: 100% 100%;
}
