:host {
  position: absolute;
  top: 64px;
  left: 20px;
  z-index: 800;
}

.list-box {
  width: 506px;
  background: url("/assets/images/supervisor/notification/list-bg.png")
    no-repeat center center;
  background-size: 100% 100%;
  padding: 4px 16px 12px 16px;
  color: #ffffff;
  max-height: calc(100vh - 144px);
  overflow-y: auto;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 12px;
  .title-font {
    font-weight: 400;
    font-size: 16px;
    padding-left: 4px;
  }
  .close-button {
    img {
      width: 20px;
      height: 20px;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        opacity: 0.85;
      }
    }
  }
}

.content-box {
  --radius: 6px;
  // height: 500px;
  background: rgba(134, 199, 254, 0.1);
  box-shadow: inset 0px 0px 4px 0px rgba(73, 136, 188, 0.57);
  border-radius: var(--radius);
  border: 1px solid rgba(5, 14, 50, 0.86);
  margin-bottom: 12px;
}

.notification-item {
  .notification-header {
    background: rgba(13, 58, 132, 0.6);
    height: 32px;
    line-height: 32px;
    position: relative;
    padding: 0 16px 0 50px;
    display: flex;
    justify-content: space-between;
    border-radius: var(--radius) var(--radius) 0 0;

    .ring-icon {
      position: absolute;
      left: 4px;
      bottom: 8%;
      width: 42px;
      height: 42px;
      background: url("/assets/images/supervisor/notification/list-ring-icon.png")
        no-repeat center center;
      background-size: 100% 100%;

      &.unread {
        &::after {
          content: "";
          width: 20%;
          height: 20%;
          background: #fe0000;
          border-radius: 50%;
          position: absolute;
          top: 20%;
          right: 20%;
        }
      }
    }

    .time {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
    }
  }
  .notification-content {
    padding: 6px 12px;
    color: rgba(255, 255, 255, 0.8);
  }
  .notification-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 12px 6px 12px;
  }
}

.action-button {
  background: url("/assets/images/supervisor/notification/action-button-bg.png")
    no-repeat;
  background-size: 100% 100%;
  width: 70px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  line-height: 29px;
  text-align: center;
  user-select: none;

  &:active {
    opacity: 0.75;
  }

  &.cancel {
    filter: brightness(0.6);
  }
}

.action-link-button {
  line-height: 29px;
  font-size: 12px;
  color: #3b9de7;
  cursor: pointer;
  margin-right: 8px;
  user-select: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
