:host {
  font-size: 16px;
  text-align: left;
}

.label {
  height: 39px;
  background-image: url("/assets/images/map/emergency-response/title-label.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto 100%;
  display: flex;
  align-items: center;
  min-width: 189px;
  padding-left: 12px;
}
