@if (state().municipalDegree) {
  <div @horizontalInOutReverse class="flex mb-2">
    <div class="mr-2">
      <img width="84" [src]="state().municipalDegreeIcon" />
    </div>
    <div>
      <div class="label">
        <span class="mr-2">市级</span>
        <span>防台防汛</span>
      </div>
      <div class="pl-3">
        <span class="mr-2">{{ state().municipalDegreeInChinese }}级</span>
        <span>应急响应</span>
      </div>
    </div>
  </div>
}

@if (state().corporateDegree) {
  <div @horizontalInOutReverse class="flex">
    <div class="mr-2">
      <img width="84" [src]="state().corporateDegreeIcon" />
    </div>
    <div>
      <div class="label">
        <span class="mr-2">集团级</span>
        <span>防台防汛</span>
      </div>
      <div class="pl-3">
        <span class="mr-2">{{ state().corporateDegreeInChinese }}级</span>
        <span>应急响应</span>
      </div>
    </div>
  </div>
}
