.circle {
  background-image: url(/assets/images/guide/circle.png);
  width: 86px;
  height: 86px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.width-auto {
  height: 50px;
  width: auto;
}
.height-auto {
  width: 50px;
  height: auto;
}

.time {
  // font-family: PingFang SC;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(
    0deg,
    #047dff 13.37890625%,
    #29d8ff 50.68359375%,
    #0aa0fd 90.4052734375%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 18px;
}
.text {
  width: 120px;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: 0.1em;
}
