<table class="compare-table min-w-[700px]">
  <thead>
    <tr>
      <th>
        <span class="text-lg">线路号</span>
      </th>
      <th>
        <span class="text-lg">开始时间-结束时间</span>
      </th>
      <th>
        <span class="text-lg">停运当日</span>
      </th>
      <th>
        <span class="text-lg">车站区间</span>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (item of list; track $index) {
      <tr>
        <td>{{ getHaltLine(item) }}</td>
        <td>{{ getTime(item) }}</td>
        <td>{{ getWeekday(item) }}</td>
        <td>{{ getLocation(item) }}</td>
      </tr>
    }
  </tbody>
</table>
