.public-opinion-information {
  position: fixed;
  z-index: 805;
  width: 398px;
  height: 213px;
  right: 500px;
  top: 110px;
  color: #afbed8;
  background-image: url(/assets/images/map/dock/public-opinion-information-box.png);
  display: flex;
  flex-direction: column;
  .header {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c1cddb;
    font-size: 18px;
  }
  .content {
    padding: 16px 32px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    .data-content {
      flex: 1;
    }
    .pad-bottom {
      height: 26px;
    }
  }
  .cell {
    display: flex;
    align-items: center;
  }
  .statistics-icon {
    margin-right: 12px;
  }
  .number-font {
    color: #d1ddeb;
    font-size: 20px;
    font-family: "FangZhengZhongyi";
  }
  .label-font {
    color: #d1ddeb;
    font-size: 12px;
  }
}
