.position-wrapper {
  position: absolute;
  top: 100px;
  left: 64px;
  z-index: 20;
}

.detail-popup {
  width: 440px;
  height: 320px;
  background: url("/assets/images/dashboard/detail-popup-bg.png") no-repeat;
  background-size: 100% 100%;

  .header {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 24px;
  }

  .content {
    padding: 4px 16px;
  }
}

.info-item {
  font-size: 24px;
  line-height: 48px;

  display: flex;

  .label {
    color: #ffffff;
    opacity: 0.9;
  }

  .value {
    font-size: 22px;
    color: #6ab1d7;
  }
}
