.title-font {
  text-shadow: 0px 2px 8px rgba(5, 28, 55, 0.12);
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent;
  font-family: "FangZhengZhongyi";
  font-size: 35px;

  &.yellow {
    background: linear-gradient(
      0deg,
      #e9bc5c 30%,
      rgba(239, 252, 254, 0.96) 75%
    );
  }
  &.green {
    background: linear-gradient(
      0deg,
      #21f1e1 30%,
      rgba(239, 252, 254, 0.96) 75%
    );
  }
  &.blue {
    background: linear-gradient(
      0deg,
      #2773d0 30%,
      rgba(239, 252, 254, 0.96) 75%
    );
  }
}
.dot {
  display: inline-block;
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background-color: #21f1e1;
  margin-right: 12px;
}
.label-font {
  font-size: 25px;
  margin-right: 38px;
}
.value-font {
  font-size: 25px;
  color: #34b8f2;
}

#overview-effects-title,
#overview-measures-title,
#overview-publicOpinions-title {
  opacity: 0;
  transform: translate(0, 40px);
}
#overview-effects-infos,
#overview-measures-infos,
#overview-publicOpinions-infos {
  opacity: 0;
  transform: translate(50px, 0);
}
