.filter-modal {
  position: fixed;
  z-index: 999;
  background-size: auto 100%;
  left: calc(32px + 64px + 24px);
  top: 110px;
  // transform: translate(-50%, 0);
  overflow: hidden;
  width: 1072px;
  --bg-color: #18b5fe;
  --color: #00dbff;
}
.modal-header {
  // background: url(/assets/images/map/modal/filter/header.png) no-repeat;
  background: url(/assets/images/map/dock/statistical-table-modal/header.png)
    no-repeat;
  height: 53px;
  background-size: 100% 100%;
  color: #bbcde6;
  font-size: 18px;
  line-height: 53px;
  padding-left: 28px;
  display: flex;
  justify-content: space-between;
}
.modal-body {
  height: calc(100vh - 280px);
  // background: url(/assets/images/map/modal/filter/body.png) no-repeat;
  background: url(/assets/images/map/dock/statistical-table-modal/body.png)
    no-repeat;
  background-size: 100% 100%;
  padding: 12px 24px 0;
}
.modal-footer {
  // background: url(/assets/images/map/modal/filter/footer.png) no-repeat;
  background: url(/assets/images/map/dock/statistical-table-modal/footer.png)
    no-repeat;
  height: 26px;
  background-size: 100% 100%;
}

.header-font {
  font-family: FangZhengzhongyi;
  font-size: 18px;
  line-height: 53px;
}
