<div class="line-selection-overlay" [class.isDD]="isDD()">
  <div
    class="box-wrapper animate__animated animate__fadeInUp"
    style="animation-duration: 300ms"
  >
    <div class="flex">
      <div>
        <div class="check-all">
          <div
            class="check-all-button"
            [class.active]="allChecked()"
            (click)="handleCheckAll()"
          >
            <div class="check-all-label">全部线路</div>
          </div>
        </div>
      </div>
      <div class="lines">
        @for (line of lines(); track line.name) {
          <div
            class="line-button"
            [class.active]="line.checked"
            (click)="handleAction(line)"
          >
            <img [src]="line.marker" alt="" srcset="" />
          </div>
        }
      </div>
    </div>
  </div>
</div>
