.dashboard-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;
  background: url("/assets/images/dashboard/panel-bg.jpg") no-repeat center
    center;
  background-color: #031430;
  background-size: auto 100%;
}
