.dark-bg {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.88) 20%,
    rgba(0, 0, 0, 1) 100%
  );
}

.title-font {
  font-style: italic;
}
.title-bg {
  height: 34px;
  font-size: 20px;
  line-height: 34px;
  background: linear-gradient(
    180deg,
    rgba(14, 197, 236, 0.36) 0%,
    rgba(49, 190, 255, 0.36) 0%,
    rgba(239, 252, 254, 0.36) 58.7646484375%
  );
}

.typhoon-history-data {
  padding: 0 32px;
  .hexagon-bg {
    background-image: url(/assets/images/map/hexagon-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 98px;
    background-size: auto 100%;
    position: relative;
  }

  .hexagon-icon {
    position: absolute;
    top: 33%;
    left: 15%;
    width: 53px;
  }
  .history-label {
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 400;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
    line-height: 32px;
    text-shadow: 1px 2px 0px rgba(17, 20, 22, 0.22);
  }
  .history-value {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 80px;
    text-align: center;
  }
}

.title-bg {
  background-image: url(/assets/images/map/title-bg.png);
  background-repeat: no-repeat;
}
.label-bg {
  background-image: url(/assets/images/map/label-bg.png);
  background-repeat: no-repeat;
}
