<div class="duty-dates">
  @for (date of dates; track date) {
    <div
      class="duty-date-tab"
      [class.active]="date === activeDate()"
      (click)="setActiveDate(date)"
    >
      {{ formatDutyDate(date) }}
    </div>
  }
</div>
<div class="grid grid-cols-2 gap-y-4 gap-x-6 pr-4">
  <div class="flex italic">
    <div class="flex-1">公司名称</div>
    <div class="flex-1">{{ activeDateLabel() }} 值班人</div>
  </div>
  <div class="flex italic">
    <div class="flex-1">公司名称</div>
    <div class="flex-1">{{ activeDateLabel() }} 值班人</div>
  </div>
  @for (item of departments; track $index) {
    <div class="flex">
      <div class="flex-1">{{ item }}</div>
      <div class="flex-1">
        <occ-modal-input
          class="ml-6"
          placeholder="请输入"
          [value]="(values()[activeDate()] || {})[item] || ''"
          (changeValue)="setValue(item, $event)"
        ></occ-modal-input>
      </div>
    </div>
  }
</div>
