.digital-preplan-wrapper {
  background: url("/assets/images/typhoon-library/modal/box.png") no-repeat;
  background-size: 100% 100%;
  padding: 48px 1px 20px;
}

.header-bg {
  background: url("/assets/images/typhoon-library/digital-preplan/header-bg.png")
    no-repeat;
  background-position: center;
  text-align: center;
  height: 45px;
  .tabs {
    position: relative;
    display: inline-flex;
    top: -4px;
  }
}
.h-tab-item {
  height: 38px;
  line-height: 42px;
  text-align: center;
  margin-right: 16px;
  cursor: pointer;
  color: #c3d0ea;
  &:hover {
    color: #376acf;
  }
  &.active {
    cursor: default;
    &:hover {
      color: #c3d0ea;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}
.h-button-left {
  background: url("/assets/images/typhoon-library/digital-preplan/h-button-left.png")
    no-repeat;
  width: 220px;
  padding-left: 10px;
  &.active {
    background: url("/assets/images/typhoon-library/digital-preplan/h-button-left-active.png");
  }
}

.h-button-middle {
  width: 210px;
  background: url("/assets/images/typhoon-library/digital-preplan/h-button-middle.png")
    no-repeat;
  &.active {
    background: url("/assets/images/typhoon-library/digital-preplan/h-button-middle-active.png");
  }
}

.h-button-right {
  width: 220px;
  padding-right: 15px;
  background: url("/assets/images/typhoon-library/digital-preplan/h-button-right.png")
    no-repeat;
  &.active {
    background: url("/assets/images/typhoon-library/digital-preplan/h-button-right-active.png");
  }
}
.tab-container {
  height: calc(90vh - 120px);
  // text-align: center;
}
