.tooltip-box {
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.5;
  color: #ffffff;
  background: linear-gradient(to bottom, #062b54 0%, #02101c 100%);
  border: 1px solid #026990;
  min-width: 120px;
}

.value-item {
  min-height: 40px;
  line-height: 40px;
  color: #b7c1d4;
  font-size: 16px;
  padding: 0 12px;
  display: flex;
  border-bottom: 1px solid #8db8d850;
  cursor: pointer;
  &:nth-child(even) {
    background-color: #191d23;
  }
  &:hover {
    color: #00ffff;
  }
}
