.typhoon-impacts-table-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-image: url("/assets/images/digital-plan/caveEntranceTableBg2.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.typhoon-impacts-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  padding: 12px;
  font-weight: 400;
  font-size: 18px;
  color: #00f4ff;
  th,
  td {
    padding: 12px;
    text-align: left;
  }

  th {
    font-weight: 600;
  }

  td {
    vertical-align: center;
    color: #e2ffff;
    font-size: 14px;
  }

  tr:nth-child(even) {
    background-color: #00f4ff14;
    border-radius: 4px;
  }
}
.line-img-footer {
  width: 100%;
}
