.image-reader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #040f12;
}
.progress {
  position: absolute;
  width: 0;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #35822cdd;
}

::ng-deep .cdk-overlay-container {
  z-index: 8888;
}
