:host {
  position: absolute;
  top: 32px;
  right: 4px;
  z-index: 800;
}

.right-panel {
  width: 420px;
  position: relative;
  z-index: 2;
  // height: 1032px;
  height: calc(100vh - 32px - 4px);
  background: url("/assets/images/occ/right-panel-bg.png") no-repeat center
    center;
  background-size: 100% 100%;
  padding: 16px 6px 22px 4px;
  transition: width 0.3s ease-in-out;
  &.collapsed {
    width: 0px;
    overflow: hidden;
  }
}

.title {
  background: url("/assets/images/occ/right-panel-title-bg.png") no-repeat;
  background-position: left bottom;
  // height: 34px;
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 48px;
  position: relative;
  left: 16px;
}

.title-font {
  font-family: "Fangzhengzhongyi";
  font-weight: 400;
  font-size: 22px;
  padding-right: 8px;
  font-style: italic;
  text-shadow: 0px 2px 8px rgba(239, 252, 254, 0.32);
  background: linear-gradient(
    0deg,
    rgba(49, 190, 255, 1) 0%,
    rgba(239, 252, 254, 1) 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabs {
  position: absolute;
  left: -96px;
  bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1;
  .tab {
    cursor: pointer;
    background: url("/assets/images/occ/right-panel-tab-item.png") no-repeat;
    height: 39px;
    width: 190px;
    font-size: 18px;
    padding-left: 28px;
    line-height: 36px;
    margin-bottom: 42px;
    filter: grayscale(0.75);
    .font-inner {
      opacity: 0.54;
      color: #e7f3fa;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      filter: grayscale(0);
      .font-inner {
        opacity: 1;
        background: linear-gradient(0deg, #acddff 0%, #ffffff 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.right-panel-toggle {
  position: absolute;
  left: -38px;
  bottom: 50%;
  z-index: 3;
  transform: translate(0, 50%);
  .delta {
    width: 0px;
    height: 140px;
    border: 24px solid transparent;
    border-right-color: #1483fa;
  }

  .toggle-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(1px, -50%);
    color: rgb(194, 192, 192);
    cursor: pointer;

    &.collapsed {
      transform: translate(1px, -50%) rotate(180deg);
    }
    &:active {
      color: #fff;
    }
  }
}
