.base-bg {
  background: url("/assets/images/dispatch-center/base-bg.png") no-repeat;
  background-position: 16% 49%;
  background-size: 90%;
}

.line-label-bg {
  background-image: url(/assets/images/dispatch-center/line-label-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2rem;
  display: flex;
  align-items: center;
}

.duration-label {
  text-shadow: 0px 2px 8px rgba(5, 28, 55, 0.12);
  font-style: italic;
  padding-right: 0.25rem;
  background: linear-gradient(0deg, #acddff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "FangZhengZhongyi";
  font-size: 0.9rem;
}
.light-color {
  color: #cedce6;
}

.effected-count {
  font-size: 0.875rem;
  color: #ff7f00;
  font-family: "PangMenZhengDao";
}

.effected-percent {
  font-size: 0.875rem;
  color: #18b2ff;
  font-family: "PangMenZhengDao";
}
