.event-card {
  width: 262px;
  height: 141px;
  border-radius: 8px;
  background: url("/assets/images/cocc/event-card-bg.png") no-repeat;
  background-size: 100% 100%;
  padding: 16px 4px 0 16px;
  display: flex;
  flex-direction: column;
}
.event-type {
  font-weight: normal;
  font-size: 22px;
  color: #ffffff;
  line-height: 31px;
  text-shadow: 0px 2px 9px #003f85;
  background: linear-gradient(0deg, #9cd2ff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.event-line {
  font-size: 14px;
  line-height: 32px;
  color: #b4c8e3;
}

.event-position {
  font-size: 16px;
  color: #b4c8e3;
}

.event-state-font {
  font-size: 14px;
  color: #ffffff;
  // text-stroke: 1px #0085c0;
  // -webkit-text-stroke: 1px #0085c0;
  text-shadow:
    0 0 6px #0085c0,
    0 0 6px #0085c0,
    0 0 6px #0085c0,
    0 0 6px #0085c0;
  font-style: italic;
}

.event-card-state {
  background: url("/assets/images/cocc/event-card-state-bg.png") no-repeat;
  width: 116px;
  height: 42px;
  line-height: 32px;
  text-align: center;
}
