.guard-repair {
  padding: 8px 26px;
}

.title {
  font-size: 16px;
  color: #05deff;
}

.chart {
  height: 240px;
}

.sub-title {
  font-size: 14px;
  color: #99ffff;
  padding: 12px 0 4px 0;
}

// color: ['#42DEFF', '#1383E7', '#6395F9'],
.progress-bar {
  height: 13px;
  display: flex;
  margin-bottom: 6px;

  .progress-bar-first {
    width: var(--first-percent);
    height: 100%;
    background-color: #1383e7;
  }
  .progress-bar-last {
    width: var(--last-percent);
    height: 100%;
    background-color: #42deff;
    border-radius: 0 10px 10px 0;
  }
}
