.backward {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  color: #84a3cb;
  cursor: pointer;

  &:active,
  &:hover {
    opacity: 0.85;
    color: #5078b1;
  }
}

.train-button {
  --border-color: #558cff;
  --text-color: #b1c1db;
  --hover-color: #5078b1;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  box-shadow: 3px 2px 2px 0px rgba(2, 10, 22, 0.61);
  border-radius: 10px;
  border: 2px solid var(--border-color);
  height: 38px;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.1s linear;
  user-select: none;

  &:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
  }
  &:active {
    color: var(--text-color);
    border-color: var(--border-color);
  }

  &.add {
    --border-color: #558cff;
    --text-color: #b1c1db;
    --hover-color: #5078b1;
  }

  &.remove {
    --border-color: #9d2533;
    --text-color: #f67080;
    --hover-color: #a34f59;
  }

  &.reset {
    --border-color: #f1bc50;
    --text-color: #fadca0;
    --hover-color: #917846;
  }
}
