.line-operation {
  padding: 8px 20px;
}

.title {
  font-size: 16px;
  color: #05deff;
  line-height: 32px;
}
.detail {
  padding: 8px 0;
}
.item {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(22, 30, 40, 0.73);
  font-size: 14px;
  padding: 0 8px;
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}
.item-number {
  width: 38px;
  .cube {
    display: inline-block;
    min-width: 18px;
    background: rgba(205, 171, 106, 0.18);
    border-radius: 2px;
    color: #ffa81f;
    text-align: center;
  }
}
.item-value {
  font-size: 12px;
  color: #ffffff;
  flex: 1;
  text-align: left;
}

.item-additional {
  font-size: 12px;
  color: #efdb47;
}
