:host {
  display: inline-flex;
  align-items: center;
}
.scale-line-wrapper {
  position: relative;
  height: 15px;
  // background-color: #183250;
  // background: repeating-linear-gradient(
  //   to right,
  //   transparent 0 4px,
  //   #183250 4px 8px
  // );
  background: #051127;

  .scale-mark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 100%;
    background-color: #183250;
  }
  .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // background: repeating-linear-gradient(
    //   to right,
    //   transparent 4px 8px,
    //   red 8px 12px
    // );
    // background: linear-gradient(90deg, #1f457a 0%, #3a74d3 50%, #a2d2fd 100%);
  }
}
