.position {
  position: fixed;
  z-index: 999;
}
.dock {
  background: radial-gradient(circle, #00000060 0%, #0b1c3660 100%);
  // opacity: 0.6;
  border-radius: 8px;
  padding: 0 4px 12px;
  backdrop-filter: blur(4px);
}

.tool {
  @apply text-center px-1;
  font-size: 14px;
  font-weight: 300;
  font-family: 黑体;
  color: #c7d3ee;

  margin-bottom: 2px;
  &:last-child {
    margin-bottom: 0;
  }

  img {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
      + div {
        color: var(--case-primary);
      }
    }
  }
  &.disabled {
    filter: grayscale(100%);
  }
}
