:host {
  position: absolute;
  z-index: 803;
  top: 700px;
  right: 114px;
}

.box {
  background-image: url(/assets/images/dispatch-center/compare-simple-action.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 176px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  font-size: 20px;
  margin-bottom: 4px;
}
