.flood-control-measures-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* 添加这一行 */
  background-image: url("/assets/images/digital-plan/routePlanBg2.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  .left {
    width: 48%;
    height: 100%;
    box-sizing: border-box;
    .left-content {
      padding: 10px;
      .left-content-header {
        font-family: PingFang SC;
        font-weight: 600;
        font-size: 24px;
        color: #1bffff;
      }
      .left-content-content {
        font-family: PingFang SC;
        font-weight: 400;
        font-size: 20px;
        color: #e2ffff;
        line-height: 24px;
        padding: 16px 0;
      }
      .left-content-content-image {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8px;
        img {
          margin-right: 10px;
          max-width: calc(50% - 5px);
          height: auto;
        }
      }
    }
  }
  .right {
    width: 49%;
    height: 100%;
    box-sizing: border-box;
    .right-content {
      padding: 10px;
      .right-content-header {
        font-family: PingFang SC;
        font-weight: 600;
        font-size: 24px;
        color: #1bffff;
      }
      .right-content-content {
        font-family: PingFang SC;
        font-weight: 400;
        font-size: 20px;
        color: #e2ffff;
        line-height: 24px;
        padding: 16px 0;
      }
      .right-content-content-image {
        display: flex;
        margin-top: 8px;
        img {
          margin-right: 10px;
          max-width: calc(80% - 5px);
          height: auto;
        }
      }
    }
  }
}
