<!-- 防汛工作举措内容 -->
<div class="flood-control-measures-content">
  <div class="left">
    <div class="left-content">
      <div class="left-content-header">一、@if (!hideTitle) {上海轨道交通}气象辅助决策系统</div>
      <div class="left-content-content">
        <div class="left-content-content-item">
          集团积极加强与气象部门技术协作，研究开发发了@if (!hideTitle) {上海轨道交通}气象辅助决策系统，充分利用上海市基础地理数据，前期试点安装的自动气象站及上海市气象局既有气象站监测资料实现了对气象灾害的实时监测，风险预警等多项字化功能。该系统于2021年正式投用，在抵御台风"烟花","灿都"过程中，做到预警响应整体前移，既增加了应急准备时间，也为极端天气下的运营指挥提供了更准确，更及时的决策依据。
        </div>
        <div class="left-content-content-image">
          <img src="/assets/images/digital-plan/measure/measure1.png" alt="" />
          <img src="/assets/images/digital-plan/measure/measure2.png" alt="" />
        </div>
      </div>
    </div>
    <div class="left-content">
      <div class="left-content-header">二、防汛“一站一图”</div>
      <div class="left-content-content">
        <div class="left-content-content-item">
          为进一步强化防汛现场抢险救援响应能力，汛期全网车站实施挂图作战，聚焦车站结构，队伍组织，物资储备，设施设备布局等各个环节，因地制宜编制"一站一图"，一旦启动预警响应便于集中骨干力量重点保驾，精准，快速，全面落实各项防范处置措施。
        </div>
        <div class="left-content-content-image">
          <img src="/assets/images/digital-plan/measure/measure3.jpg" alt="" />
          <img src="/assets/images/digital-plan/measure/measure4.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="right-content">
      <div class="right-content-header">三、防汛物资平移支援机制</div>
      <div class="right-content-content">
        <div class="right-content-content-item">
          针对线网所管辖车站、控制中心、基地、变电站、洞口等重点部位，单位位应于汛前完成防汛防台物资、装备的储备，确保满足汛期所需，并建立完善的物资装备台账，做好应急物资清单上墙。
        </div>
        <div class="right-content-content-image">
          <img src="/assets/images/digital-plan/measure/measure5.png" alt="" />
          <img src="/assets/images/digital-plan/measure/measure6.png" alt="" />
        </div>
        <div class="right-content-content-item">
          在上述物资配置基础上，应以每条线路或者每个区域为单元，研究建立物资集中存放与平移支援机制，合理选取物资集中存放点，用于紧急情况下支援临近线路、车站或区域应急处置工作。
        </div>
        <div class="right-content-content-image">
          <img src="/assets/images/digital-plan/measure/measure7.png" alt="" />
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="right-content-header">四、绿化侵限整治</div>
      <div class="right-content-content">
        <div class="right-content-content-item">
          为应对汛期挑战，运营单位持续与绿化属地管理部门紧密合作，建立会商联动机制，对可能影响轨道交通运营的树木进行风险评估和及时处理，共同明确整治目标，措施以及整治时间节点，及时对沿线绿化风险点及时修剪，加固和清理工作，通过加强合作，巡查监测，应急处置等措施，进一步降低绿化侵限，倒伏等问题对轨道交通运营的影响，确保轨道交通在汛期期间的安全稳定运行。
        </div>
        <div class="right-content-content-image">
          <img src="/assets/images/digital-plan/measure/measure9.png" alt="" />
          <img src="/assets/images/digital-plan/measure/measure8.png" alt="" />
          <img src="/assets/images/digital-plan/measure/measure10.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
